.text-color-primary-c1{
    color: #ec008c!important;
}

.green{
    background-color: #ec008c!important;
}

.titre-vert-style{
    color: #ec008c!important;
}

.subtitle{
    color: #ec008c!important;
}

.button{
    background-color: #ec008c!important;
}

.hidden{
    visibility: hidden!important;
}