.text-color-primary-c1{
    color: #ec008c!important;
}

.green{
    background-color: #ec008c!important;
}

.titre-vert-style{
    color: #ec008c!important;
}

.subtitle{
    color: #ec008c!important;
}

.button{
    background-color: #ec008c!important;
}

.hidden{
    visibility: hidden!important;
}

.grid-4x2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}